.flexContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.fieldcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.field{
    margin: 2px;
    border: 2px black;
    background-color: aqua;
    min-width: 50px;
    height: 50px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.field:hover{
    background-color:darkcyan;
}
.boardIndicatorX, .boardIndicatorY, .boardIndicator0{
    margin: 2px;
    border: 2px black;
    background-color: blueviolet;
    min-width: 50px;
    height: 50px;
}
.boardIndicatorX p, .boardIndicatorY p{
    color: white;
    text-align: center;
}
.ship{
    margin: 2px;
    border: 2px black;
    background-color: maroon;
    min-width: 50px;
    height: 50px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}