.fieldcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.field{
    margin: 2px;
    border: 2px black;
    min-width: 50px;
    height: 50px;
}
.field:hover{
    background-color: chartreuse;
}
.whiteText{
    text-align: center;
    color: white;
}